<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Solr Crud - Login</title>
</head>
<body>

	<form name="frmCad" id="frmCad" action="MainServlet" method="post">
		<input type="hidden" name="action" id="action" value="loginUser" />
		Usuario (luiz):
		<br/>
		<input type="text" name="user" id="user" value="" />
		<br/>
		Senha (123):
		<br/>
		<input type="text" name="pass" id="pass" value="" />
		<br/><br/>
		<button type="submit">Entrar</button>
	</form>

</body>
</html>